.content {
  margin: calc(3rem - 1px) 0 0 16rem;
  padding-top: 1px; // no margin collapsing
  background: $ui-background;

  @include carbon--breakpoint-down(lg) {
    margin-left: 0;
  }
}

.main {
  padding-bottom: $spacing-11;
}

.toast {
  position: fixed;
  top: 3rem; // header height
  right: 0;
}
