.placeholder {
  margin-top: $spacing-06;
  padding: $spacing-05;
  border: 1px dashed $ui-03;
  @include carbon--type-style('code-02');
}

.image {
  --space: #{$spacing-06};
  margin-top: var(--space) !important; // override next/image
  background: $ui-01;
}

.placeholder + *,
.row + * {
  --space: #{$spacing-06};
}
