.page-description {
  --space: #{$spacing-11};
  margin-top: var(--space);
}

.page-description p {
  @include carbon--type-style('expressive-heading-03', true);
}

.page-description code {
  font-size: 0.75em;
  line-height: 1.25;
}
