//---------------------------------------
// Headings
//---------------------------------------

.h1 + *,
.h2 + *,
.h3 + *,
.paragraph + * {
  --space: #{$spacing-06};
}

.h1.h1 {
  --space: #{$spacing-12};
  margin-top: var(--space);
  @include carbon--type-style('expressive-heading-05', true);
}

.h2.h2 {
  --space: #{$spacing-11};
  margin-top: var(--space);
  @include carbon--type-style('expressive-heading-04', true);
}

.h3.h3 {
  --space: #{$spacing-10};
  margin-top: var(--space);
  @include carbon--type-style('expressive-heading-03', true);
}

.h4 {
  --space: #{$spacing-07};
  margin-top: var(--space);
  @include carbon--type-style('heading-02');
}

.h5,
.h6 {
  --space: 0;
  @include carbon--type-style('heading-01');
}

.h4 + * {
  --space: 0;
}

//---------------------------------------
// P
//---------------------------------------

.paragraph {
  margin-top: var(--space);
  @include carbon--type-style('body-long-02');
}

//---------------------------------------
// List
//---------------------------------------

.list {
  margin-top: var(--space);
}

.list-item {
  @include carbon--type-style('body-long-02');
  padding-right: 0;
  width: 100%;
  margin-left: $spacing-05;
  padding-left: $spacing-02;
}

//---------------------------------------
// Blockquote
//---------------------------------------

.blockquote {
  margin: $spacing-08 0;
  color: $text-01;
  margin-left: $spacing-05;
  padding-left: 1ch;
  @include carbon--breakpoint('md') {
    margin-left: $spacing-08;
  }
}

.blockquote .paragraph {
  position: relative;
  @include carbon--type-style('expressive-heading-03', true);
  font-style: italic;
  margin-bottom: 0;
}

.blockquote cite {
  @include carbon--type-style('body-long-01');
  font-style: italic;
  display: block;
  margin-top: $spacing-02;
  text-indent: 0;
}

//---------------------------------------
// Images
//---------------------------------------

img {
  display: block; // spacing with caption
}

//---------------------------------------
// Other
//---------------------------------------

.sup {
  font-feature-settings: 'sups' on;
}

.abbr:global(.bx--tooltip--definition) button {
  font-size: 1em;
}

//---------------------------------------
// Table
//---------------------------------------

.table-container {
  --space: #{$spacing-06};
  margin: var(--space) -1rem 0;
  overflow-x: auto;
}

.table {
  line-height: 1.25;
  width: 100%;

  :global {
    thead {
      th {
        @include carbon--type-style('heading-01');
        color: $text-01;
        padding: $spacing-md;
        text-align: left;
        white-space: nowrap;
        background: $ui-01;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $ui-03;

        td {
          @include carbon--type-style('body-short-01');
          color: $text-01;
          padding: $spacing-md;

          img[src$='checkmark--glyph.svg'] {
            width: 16px;
            height: 16px;
            margin: 0;
          }

          strong {
            font-weight: font-weight('semibold');
          }

          @include carbon--breakpoint('lg') {
            min-width: rem(100px);
          }

          @include carbon--breakpoint('xlg') {
            min-width: rem(150px);
          }
        }
      }
    }
  }
}

//---------------------------------------
// Anchor
//---------------------------------------

.anchor:global(.bx--link) {
  font-size: inherit;
  text-decoration: underline;

  &:hover {
    color: $carbon--blue-80;
  }

  &:visited {
    color: $link-01;
  }

  &:active {
    color: $text-01;
  }
}
